@charset "utf-8";

html {

}

body {
  background-color: #f4f9ff;
  max-width: 100%;
}

.container {
  width: 1000px;
  margin: 0 auto 50px;

}

#mainvisual {
  margin: 0 auto 50px;
}

#index {
  background-color: white;
  margin: 0 auto 50px;
}

.sectionindex {
  margin: auto 200px;
  padding: 40px;
}

.detailimg {
  
}